## Popper Introduction

Let's first create a popper agent class:

In [1]:
from popper import Popper
# Modify the path to the data folder
path = '/Users/jinyoungkim/Desktop/Projects/POPPER/data'
agent = Popper(llm="claude-3-7-sonnet-20250219")
agent.register_data(data_path=path, loader_type='custom')

Loading custom data...

In [2]:
import os
os.environ['ANTHROPIC_API_KEY'] = '' # put in correct Anthropic API key

In the initial instantiation of Popper, we focus on data analysis experiments that are drawn from a massive hypothesis free databases. Here is the hypothesis-free datasets look like:

In [3]:
df = list(agent.data_loader.table_dict.items())[0][1]

In [4]:
df

               time       low      high      open     close     volume
0        1644475980  43976.59  43996.20  43991.89  43980.88   0.698505
1        1644476040  43973.43  43990.49  43980.04  43983.51  14.357343
2        1644476100  43983.50  44010.17  43983.50  44005.24   2.686727
3        1644476160  44001.92  44010.30  44005.23  44010.28   1.060343
4        1644476220  43968.10  44010.72  44006.81  43981.91   3.283861
...             ...       ...       ...       ...       ...        ...
1576232  1739083680  96930.00  96961.34  96961.34  96946.69   0.487527
1576233  1739083740  96919.16  96965.98  96946.67  96939.41   4.036762
1576234  1739083800  96939.42  97024.77  96939.43  97016.65   3.024262
1576235  1739083860  96994.40  97034.37  97016.65  97023.31   0.289057
1576236  1739083920  97023.32  97073.83  97023.32  97043.91   0.226021

[1576237 rows x 6 columns]

In [5]:
for i,j in agent.data_loader.table_dict.items():
    display(j.head(1))

         time       low     high      open     close    volume
0  1644475980  43976.59  43996.2  43991.89  43980.88  0.698505

Now, we configure an agent with the following parameters: \
`alpha`: The significance level of the test. default is 0.1. \
`max_num_of_tests`: The maximum number of tests to run. default is 5. \
`max_retry`: The maximum number of retries for a test. default is 3. \
`time_limit`: The time limit for the test. default is 2 minutes. \
`aggregate_test`: The test to use for aggregation. default is 'E-value'. You can also use `Fisher`, `LLM_approx`. \
`relevance_checker`: Whether to use the relevance checker. default is True. \
`use_react_agent`: Whether to use the react agent. default is True. If False, using codegen.

You can use your own data for validation. You can simply dump in a set of datasets in your domain (e.g. business, economics, political science, etc.) and run Popper on your own hypothesis. We only expect every file in that directory is in a csv or pkl format.

In [ ]:
from popper import Popper
path = '/Users/jinyoungkim/Desktop/Projects/POPPER/data'
agent = Popper(llm="claude-3-5-sonnet-20240620")
agent.register_data(data_path=path, loader_type='custom')
agent.configure(
    alpha=0.05,
    max_num_of_tests=8,
    max_retry=4,
    time_limit=5,
    aggregate_test='E-value',
    relevance_checker=True,
    use_react_agent=True
)
agent.launch_UI()